<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>啪啪啪-C2qu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="style/normalize.css" media="all">
  <link rel="stylesheet" href="style/index.css" media="all">
  <link rel="stylesheet" href="style/small.css" type="text/css" media="screen and (max-width:768px)" />
  <script src="script/jquery.min.js"></script>
  <script src="script/main.js"></script>
</head>
<body>
  <div class="main-wrap">
    <!-- note-text -->
    <div class="note-text">
      <img src="images/logo.png" alt="">
      <form action="article/create" method="post" class="new-article" id="new-article">
        <textarea id="article-body" name="article[body]" cols="30" rows="10"></textarea>
        <input class="submit-link" type="submit" value="submit">
      </form>
    </div>
    <!-- end note-text -->

    <!-- acrticles -->
    <div class="articles">
      <% (@articles || []).each do |article| %>
        <%= erb "_article".to_sym, :locals => { article: article } %>
      <% end %>
    </div>
    <!-- end acrticles -->
  </div>

  <script type="text/javascript" charset="utf-8">
    //$(document).on("sroll", Papa.loadArticleLoad);
    setInterval(Papa.loadArticleLoad, 1000);
  </script>
</body>
</html>
